{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} - Sistema de Produção
    </title>
    
    {% include 'base/head_styles.html' %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'base/header.html' %}
    
    <div class="container mt-2">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    
    {% include 'base/footer.html' %}
    
    {% include 'base/scripts.html' %}
    {% block extra_js %}{% endblock %}
</body>
</html>