<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Dashboard Principal{% endblock %}

{% block extra_css %}
    
{% endblock %}

{% block content %}

 
{% include 'components/home/jumbotron.html' %}
{% include 'components/dashboard/button_dash.html' %}
{% include 'components/dashboard/tabela_por_projeto.html' %}
{% include 'components/dashboard/dashboard_status.html' %}
{% include 'components/dashboard/grafico_projetos.html' %}
{% include 'components/dashboard/todas_producoes.html' %}


{% endblock %}

{% block extra_js %}
    
{% endblock %}