<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Dashboard Principal{% endblock %}

{% block extra_css %}
    
{% endblock %}

{% block content %}

 
{% include 'components/button_dash.html' %}
{% include 'components/jumbotron.html' %}
{% include 'components/tabela_por_projeto.html' %}
{% include 'components/dashboard_status.html' %}
{% include 'components/grafico_projetos.html' %}
{% include 'components/todas_producoes.html' %}


{% endblock %}

{% block extra_js %}
    
{% endblock %}