
{% extends 'base.html' %}

{% load static%}
{% block title %}Relatórios de Produção{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/relatorios/relatorios.css' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid py-4">
        {% include 'components/relatorios/filtro_relatorio.html' %}
        {% include 'components/relatorios/cards_status_relatorio.html' %}
        {% include 'components/relatorios/relatorios.html' %}
    </div>

{% endblock %}

{% block extra_js %}{% endblock %}